<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link_macros">

  <xacro:macro name="base_link" params="base_size base_height base_mass">
    <link name="base_link">

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${base_size} ${base_size} ${base_height}"/>
        </geometry>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 ${base_height/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${base_size} ${base_size} ${base_height}"/>
        </geometry>
      </collision>

      <!-- Inertia -->
      <xacro:base_inertia mass="${base_mass}"/>

    </link>
  </xacro:macro>

</robot>
