<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link_macros">

  <xacro:macro name="pendulum_link" params="">
    <link name="pendulum_link">

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 0" rpy="0 -1.5708 0"/>
        <geometry>
          <mesh filename="package://pendulum_control/urdf/mesh/pendulum.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="orange">
          <color rgba="1 0.65 0 0.8"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 0" rpy="0 -1.5708 0"/>
        <geometry>
          <mesh filename="package://pendulum_control/urdf/mesh/pendulum.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <!-- Inertia -->
     <inertial>
      <origin xyz="0.045427 0 -0.0113445" rpy="0 0 0"/>
        <mass value="0.119"/>
        <inertia
        ixx="9.8995e-5"
        ixy="0"
        ixz="0"
        iyy="9.8995e-5"
        iyz="0"
        izz="9.8995e-5"/>
     </inertial>
    </link>
  </xacro:macro>

</robot>
