<?xml version="1.0"?>
<robot xmlns:xacro="htpp://www.ros.org/wiki/xacro">

<link name="rotor_link">

  <visual>
    <geometry>
      <cylinder radius="${rotor_radius}" length="${rotor_length}"/>
    </geometry>
  </visual>

  <collision>
    <geometry>
      <cylinder radius="${rotor_radius}" length="${rotor_length}"/>
    </geometry>
  </collision>

  <xacro:simple_inertia mass="${rotor_mass}"/>

</link>

</robot>
