<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link_macros">

  <xacro:macro name="rotor_link" params="rotor_radius rotor_length rotor_mass">
    <link name="rotor_link">

      <!-- Visual -->
      <visual>
        <origin xyz="${rotor_length/2} 0 0" rpy="0 1.5708 0"/>
        <geometry>
          <cylinder radius="${rotor_radius}" length="${rotor_length}"/>
        </geometry>
        <material name="green">
          <color rgba="0 1 0 0.8"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 0" rpy="0 1.5708 0"/>
        <geometry>
          <cylinder radius="${rotor_radius}" length="${rotor_length}"/>
        </geometry>
      </collision>

      <!-- Inertia -->
      <xacro:cyl_inertia mass="${rotor_mass}" radius="${rotor_radius}" length="${rotor_length}"/>

    </link>
  </xacro:macro>

</robot>
