<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link_macros">

  <xacro:macro name="rotor_link" params="">
    <link name="rotor_link">

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 ${-rotor_height-pendulum_height}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pendulum_control/urdf/mesh/rotor.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 0.8"/>
        </material>
      </visual>

      <!-- Collision -->
      <Collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mesh filename="pakcage://pendulum_control/urdf/mesh/rotor.stl" scale="0.001 0.001 0.001"/>
      </Collision>

      <!-- Inertia -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.0106"/>
       <inertia
          ixx="0.0003716"
          ixy="0" 
          ixz="0"
          iyy="0.0003716"
          iyz="0"
          izz="0.0003716"/>
      </inertial>
    </link>
  </xacro:macro>

  </robot>

