<?xml version="1.0"?>
<robot name="qube_servo_3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- constants -->
  <xacro:include filename="$(find qube_servo3_driver)/urdf/qube_constants.xacro"/>

  <!-- inertias -->
  <xacro:include filename="$(find qube_servo3_driver)/urdf/macros/inertia_macros.xacro"/>

  <!-- links -->
  <xacro:include filename="$(find qube_servo3_driver)/urdf/links/world.xacro"/>
  <xacro:include filename="$(find qube_servo3_driver)/urdf/links/base_link.xacro"/>
  <xacro:include filename="$(find qube_servo3_driver)/urdf/links/rotor_link.xacro"/>
  <xacro:include filename="$(find qube_servo3_driver)/urdf/links/pendulum_link.xacro"/>

  <!-- joints -->
  <xacro:include filename="$(find qube_servo3_driver)/urdf/joints/base_joint.xacro"/>
  <xacro:include filename="$(find qube_servo3_driver)/urdf/joints/rotor_joint.xacro"/>
  <xacro:include filename="$(find qube_servo3_driver)/urdf/joints/pendulum_joint.xacro"/>

  <!-- links -->
  <xacro:world/>

  <xacro:base_link 
      base_width="${base_width}"
      base_depth="${base_depth}"
      base_height="${base_height}" 
      base_mass="${base_mass}"/>

  <xacro:rotor_link 
      rotor_radius="${rotor_radius}" 
      rotor_length="${rotor_length}" 
      rotor_mass="${rotor_mass}"/>

  <xacro:pendulum_link 
      pendulum_radius="${pendulum_radius}" 
      pendulum_length="${pendulum_length}" 
      pendulum_mass="${pendulum_mass}"/>

  <!-- joints -->
  <xacro:base_joint/>
  <xacro:rotor_joint/>
  <xacro:pendulum_joint/>

  <!-- ros2 control hardware interface for REAL hardware -->
  <ros2_control name="QubeServo3Hardware" type="system">
    <hardware>
      <plugin>qube_servo3_driver/QubeServo3Driver</plugin>
      <param name="board_type">$(arg board_type)</param>
      <param name="board_identifier">$(arg board_identifier)</param>
      <param name="encoder_resolution">4096.0</param>
      <param name="max_effort">1.5</param>
      <param name="effort_to_voltage">1.0</param>
      <param name="current_sensor_gain">0.1</param>
    </hardware>
    <joint name="rotor_joint">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="pendulum_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>