<?xml version="1.0"?>
<robot name="qube_servo_3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- constants -->
  <xacro:include filename="$(find pendulum_control)/urdf/qube_constants.xacro"/>

  <!-- inertias -->
  <xacro:include filename="$(find pendulum_control)/urdf/macros/inertia_macros.xacro"/>

  <!-- links -->
  <xacro:include filename="$(find pendulum_control)/urdf/links/world.xacro"/>
  <xacro:include filename="$(find pendulum_control)/urdf/links/base_link.xacro"/>
  <xacro:include filename="$(find pendulum_control)/urdf/links/rotor_link.xacro"/>
  <xacro:include filename="$(find pendulum_control)/urdf/links/pendulum_link.xacro"/>

  <!-- joints -->
  <xacro:include filename="$(find pendulum_control)/urdf/joints/base_joint.xacro"/>
  <xacro:include filename="$(find pendulum_control)/urdf/joints/rotor_joint.xacro"/>
  <xacro:include filename="$(find pendulum_control)/urdf/joints/pendulum_joint.xacro"/>

  <!-- links -->
  <xacro:world/>
  <xacro:base_link/>
  <xacro:rotor_link/>
  <xacro:pendulum_link/>

  <!-- joints -->
  <xacro:base_joint/>
  <xacro:rotor_joint/>
  <xacro:pendulum_joint/>

  <!-- ros2 controll hardware interface -->
  <ros2_control name="GazeboSystem" type="System">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="rotor_joint">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="pendulum_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- gazebo plugins -->
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find pendulum_control)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- gazebo materials -->
  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="rotor_link">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="pendulum_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- joint dynamics -->
  <gazebo reference="rotor_joint">
    <implicitSpringDamper>true</implicitSpringDamper>
  </gazebo>
  <gazebo reference="pendulum_joint">
    <implicitSpringDamper>true</implicitSpringDamper>
  </gazebo>

</robot>
